<div class="card">
  <button (click)="addOrDel(personaje)" [ngClass]="{'btn-yellow': botonFav, 'btn-red': !botonFav}">{{ botonFav ? 'Fav' : 'Del' }}</button>
  <div class="header">
    <h1>Springfield, IL</h1>
  </div>
  <div class="section">
    <div class="info">
      <p>LICENSE #</p>
      <p id="licenseNumber">666</p>
    </div>
    <div class="info">
      <p>BIRTH DATE</p>
      <p id="birthDate">666</p>
    </div>
    <div class="info">
      <p>EXPIRES</p>
      <p id="expires">666</p>
    </div>
  </div>
  <div class="photo-section">
    <div class="photo">
      <img class="photo__img" [src]="personaje.Imagen || ''" alt="" />
    </div>
    <div class="driver-info">
      <h2>DRIVER'S LICENSE</h2>
      <p id="name">{{ personaje.Nombre }}</p>
      <p id="ocupacion">{{ personaje.Ocupacion }}</p>
      <div class="details">
        <p>SEX</p>
        <p id="sex">
          {{ personaje.Genero ? personaje.Genero.charAt(0).toUpperCase() : "" }}
        </p>
      </div>
      <div class="details">
        <p>ALIVE</p>
        <p id="alive">{{ personaje.Estado }}</p>
      </div>
      <div class="details">
        <p>WEIGHT</p>
        <p id="weight">55</p>
      </div>
      <div class="signature">
        <p id="signature">Signature</p>
        <hr />
      </div>
    </div>
  </div>
</div>
