@import url('https://fonts.cdnfonts.com/css/homer-simpson-revised');

h1 {
    font-family: 'Homer Simpson Revised', sans-serif;
    font-size: 60px;
    text-align: center;
    background: #FFD521;
    color: red;
    -webkit-text-stroke: .5px black;
    text-stroke: .5px black;
}

